<!DOCTYPE html>

<html>

<head>
    <title>Super Bowling!</title>
    <link rel="stylesheet" type="text/css" href="_css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="_js/script.js"></script>
    <script src="_js/score.js"></script>
</head>

<body ng-app="bowlApp" ng-controller="GameController as game">





    <form ng-hide="hideForm" validate class="css-form">
        Name:
        <input type="text" ng-model="user.name" required />
        <br/> Adjective:
        <input type="text" ng-model="user.adjective" required />
        <br/> Color:
        <input type="text" ng-model="user.color" required />
        <br />
        <br/>

        <input type="submit" ng-disabled="myForm.$invalid" ng-click="game.userPush(user)" value="Add Player" />
        <br/>


        <input type="button" width="100px" ng-click="deleteAll()" value="Delete All" />
        <input type="button" width="100px" ng-disabled="canStart()" ng-click="startGame()" value="Start Game!" />
    </form>
    <form ng-hide="hideForm">
        <br/><b>Number of Players: {{theWorld.nPlayers()}}</b>
        <pre ng-repeat="player in theWorld.aPlayers track by $index">{{player.name}} is ready with a {{player.adjective}} {{player.color}} ball!</pre>
        <pre>theWorld = {{game.theWorld | json}}</pre>
        <br/>
    </form>

    <div ng-hide="!hideForm" id="mainContent">
        <h1>Super Bowling!</h1>
        <table ng-repeat="player in theWorld.aPlayers track by $index" class="card">

            <tr class="rolls">
                <tr>
                    <th align="left" colspan="{{player.rollcard.length}}">
                        {{player.name}} (with a {{player.adjective}} {{player.color}} ball)
                    </th>
                </tr>
                <td align="center" ng-repeat="score in player.scorecard track by $index">{{displayValue(score) ? score :""}}</td>
            </tr>
            <tr class="score">
                <td align="center" ng-repeat="frame in player.frames track by $index" colspan="{{$last ? theWorld.nRLF : theWorld.nRPF}}">{{displayValue() ? frame :""}}</td>
            </tr>
            <tr></tr>
        </table>
    </div>

    <div ng-hide="!hideForm" id="buttons">
        <br/>
        <button type="submit" ng-repeat="button in theWorld.aButtonInfo" ng-click="gameLoop(button.nVal)" data-ng-disabled="theWorld.isDisabled(button)">{{button.sName}}</button>



    </div>

    <pre>{{theWorld.aPlayers | json}}</pre>


</body>

</html>